*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    height: 50vh;
    color: white;
    background: rgb(21, 21, 57);

}
#home{
    margin-right: 200px;

}
#home-score{
    border: 1px solid #000;
    background: #000;
    position: absolute;
    width: 10%;
    padding: 20px;
    margin-top: 20px;
    margin-left: -90px;
    color: palevioletred;
    font-size: 50px;
    border-radius: 5px;

}
#guest-score{
    border: 1px solid #000;
    background: #000;
    position: absolute;
    width: 10%;
    padding: 20px;
    margin-top: 20px;
    margin-left: -100px;
    color: palevioletred;
    font-size: 50px;
    border-radius: 5px;
}

button{
    position: absolute;
    width: 10%;
    padding: 5px;
    margin-top: 180px;
    margin-left: -90px;
    font-size: 20px;
    width: 50px;
    color: white;
    cursor: pointer;
    border: 1px solid #fff;
    background: rgb(21, 21, 57);
}


#increaseTwo{
    margin-left: 40px;
}
#increaseThree{
    margin-left: -25px;
}

button:hover{
    background: palevioletred;
}
#increaseTwo-guest{
    margin-left: 40px;
}
#increaseThree-guest{
    margin-left: -25px;
}
